USE [master]
GO
/****** Object:  Database [TwitterClone]    Script Date: 7/20/2018 7:14:33 PM ******/
CREATE DATABASE [TwitterClone] ON  PRIMARY 
( NAME = N'TwitterClone', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\TwitterClone.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TwitterClone_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\TwitterClone_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TwitterClone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TwitterClone]
GO
/****** Object:  Table [dbo].[Following]    Script Date: 7/20/2018 7:14:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Following](
	[UserId] [varchar](25) NOT NULL,
	[FollowingId] [varchar](25) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 7/20/2018 7:14:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[UserId] [varchar](25) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [varchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Joined] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tweet]    Script Date: 7/20/2018 7:14:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tweet](
	[TweetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[Message] [varchar](140) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Tweet] PRIMARY KEY CLUSTERED 
(
	[TweetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_Following_Person] FOREIGN KEY([UserId])
REFERENCES [dbo].[Person] ([UserId])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_Following_Person]
GO
ALTER TABLE [dbo].[Following]  WITH CHECK ADD  CONSTRAINT [FK_Following_Person1] FOREIGN KEY([FollowingId])
REFERENCES [dbo].[Person] ([UserId])
GO
ALTER TABLE [dbo].[Following] CHECK CONSTRAINT [FK_Following_Person1]
GO
ALTER TABLE [dbo].[Tweet]  WITH CHECK ADD  CONSTRAINT [FK_Tweet_Person] FOREIGN KEY([UserId])
REFERENCES [dbo].[Person] ([UserId])
GO
ALTER TABLE [dbo].[Tweet] CHECK CONSTRAINT [FK_Tweet_Person]
GO
USE [master]
GO
